@font-face {
    font-family: 'Roboto_regular';
    src: url('../fonts/Roboto-Regular.ttf'); 
  }

  @font-face {
    font-family: 'Roboto_bold';
    src: url('../fonts/Roboto-Bold.ttf'); 
  }

  .header_container {
    display: flex;
  }

 .nav-item a  { 
    color: black   !important;
    text-decoration: none;
  }

.link_button {
  
}

.link_button a {
    font-size: 0.75rem;
    font-family: 'Roboto_regular';
    padding: 4px 60px;
    background-color: #111B47;
    color: white !important;
}